.socials a {
    color: #fff;
    background-color: #3b5998; /* color base, puedes cambiarlo */
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.socials a:nth-child(2) {
    background-color: #E1306C; /* color para Instagram */
}

.socials a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}